# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Environment
.venv/
env/
venv/

# PyCharm
.idea/

# Logs
*.log
